<ion-content class="ion-padding">
  <app-header></app-header>
  <ion-card class="form-container">
    <!-- Título -->
    <ion-card-header class="title-container">
      <ion-card-title class="title">Ingresa a tu cuenta</ion-card-title>
    </ion-card-header>

    <!-- Campo de Email -->
    <ion-item class="input-container">
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-input label="Email" label-placement="floating" type="email" id="email-field"></ion-input>
    </ion-item>

    <!-- Campo de Password -->
    <ion-item class="input-container">
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      <ion-input label="Contraseña" label-placement="floating" type="password" id="password-field"></ion-input>
    </ion-item>

    <!-- Botón de Sign In -->
    <ion-button expand="block" type="submit" class="sign-in-btn">
      <span>Inrgesar</span>
    </ion-button>
  </ion-card>
</ion-content>
