<ion-content>
  <app-header></app-header>
  <ion-card class="form-container">
    <form (submit)="loginUser()">
      <!-- Título -->
      <ion-card-header class="title-container">
        <ion-card-title class="title">Ingresa a tu cuenta</ion-card-title>
      </ion-card-header>

      <!-- Campo de Email -->
      <ion-item class="input-container">
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <ion-input [(ngModel)]="email" name="email" label="Email" label-placement="floating" type="email" id="email-field"></ion-input>
      </ion-item>

      <!-- Campo de Password -->
      <ion-item class="input-container">
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        <ion-input [(ngModel)]="password" name="password" label="Contraseña" label-placement="floating" type="password" id="password-field"></ion-input>
      </ion-item>

      <!-- Botón de Sign In -->
      <ion-button expand="block" type="submit" class="sign-in-btn">
        <span>Ingresar</span>
      </ion-button>

      <div class="enlaces">
        <div class="recovery">
          <h6>¿Olvidaste tu contraseña? <a routerLink="/recovery">Click aqui.</a></h6>
        </div>
        <div class="registrarse">
          <h6>¿Aun no tienes cuenta? <a routerLink="/sign-up">Registrate.</a></h6>
        </div>
      </div>
    </form>
  </ion-card>
</ion-content>
