<ion-content>
  <app-header></app-header>

  <h2 class="ion-padding">Reservas Agendadas</h2>

  <!-- Mostrar las reservas -->
  <ion-list *ngIf="reservations.length > 0">
    <ion-card *ngFor="let reservation of reservations">
        <ion-card-header>
          <ion-card-title>Fecha: {{ reservation.fecha }}</ion-card-title>
          <ion-card-subtitle>Hora: {{ reservation.hora }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p><strong>Detalle:</strong> {{ reservation.detalle || 'No especificado' }}</p>
        </ion-card-content>
    </ion-card>
  </ion-list>

  <!-- Mostrar un mensaje si no hay reservas -->
  <div *ngIf="reservations.length === 0" class="ion-padding">
    <p>No hay reservas agendadas.</p>
  </div>

  <app-footer></app-footer>
</ion-content>
